# Data gropued by intervals

This sort of data are given in intervals o ranges, for example:
The weight in Kg that relates to 100 people

### Median

It's found in the interval where the accumulated frequency reaches half of the sum of the absolute frequencies, it is half of the total.

$$ me = Li + \frac{\frac{n}{2}-(N_{i-1})}{n_i}*t_i $$

Where:

    Li : Bottom end of the median interval &nbsp;
    n/2 :Half of total of data
    Ni-1: Absolute frequency of the previous class
    ni : Absolute frequency of the median
    ti: size of the interval
    
### Mode

It is the most repeated value in a data set, there may be more than one mode.

$$ Mo =  \frac{n_i - n_{i-1}}{(n_i - n_{i-1})+(ni - n_{i+1})}*ti $$


### Absolute Frequency

Number of times that an element of the class is repeated, the sum of all absolute frequencies gives me the total number of elements.


### Accumulated Frequency

It is the total accumulated of the all absolute frequencies, de last accumulated frequency must be equal to the total number of data.

### Relative Frequency

It is the absolute frequency divided by the total number of elements, it indicates that the percentage of the total represents each absolute frequency of each class, if all the relative frequencies are added, the result must be 1.

### Accumulated relative frequency

It's the sum of all relative frequencies.

### Example

In [13]:
import pandas as pd
import statistics as sts
import numpy as np
import matplotlib.pyplot as plt
import math

### Set of data

In [14]:
data = [7,7,3,6,8,2,5,7,3,8,1,5,6,4,4,5,6,2,9,4,2,3,7]

In [16]:
dataFrame = pd.DataFrame({
    "Xi":[1,2,3,4,5,6,7,8,9,10],
    "Abs_Frec":[1,4,3,3,3,4,4,2,1,0],
    "Acc_Abs_Frec":[1,5,8,11,14,18,22,24,25,25],
    "Rel_Frec":[0.04,0.16,0.12,0.12,0.12,0.16,0.16,0.08,0.04,0],
    "Frec_Rel_Acc":[0.04,0.20,0.32,0.44,0.56,0.72,0.88,0.96,1,1]   
});

In [18]:
dataFrame

   Xi  Abs_Frec  Acc_Abs_Frec  Rel_Frec  Frec_Rel_Acc
0   1         1             1      0.04          0.04
1   2         4             5      0.16          0.20
2   3         3             8      0.12          0.32
3   4         3            11      0.12          0.44
4   5         3            14      0.12          0.56
5   6         4            18      0.16          0.72
6   7         4            22      0.16          0.88
7   8         2            24      0.08          0.96
8   9         1            25      0.04          1.00
9  10         0            25      0.00          1.00