# Qauntiles

### Quartile

The measures of relative position in general are called "quartiles" and they are sorted in three groups.

* __Quertile : The data is divided into four equal parts (25%,50%,75%).__

* __Quartiles divide a sorted distribution into equal parts__

* __To calculate the measure of psotition it is necessary sort all data__

      
    * Deciles : The data is divided into ten equal parts (10%,20%, 30%,....,90%)
    
    * Quintiles: The data is divided into five equal parts (20%,40%,60%,80%)
    
    * Percentiles: The data is divided into 100 equal parts (1%,.....,99%)

### Calculating Quartile

1. Sort the data from low to the highest
2. Deermine the position that each quartile occupies:

$ Q_k = K(\frac{n}{4})$

_Where __n__ is the Size of data_

Q1 : Leave below 25% of the data.

Q2 : Leave below 50% of the data. __(Median)__

Q3 : Leave beloww 75% of the data.

### Example

__Let S (set of data) what is the value of third quartile?__

In [23]:
from math import ceil
from itertools import *
import pandas as pd

In [1]:
S = [2,5,9,3,13,10,11,6,7]

In [2]:
S.sort() #Sort the data from low to highest

In [3]:
k = 3 #Number of quartile
n = len(S) #Size of data

In [4]:
Qk = k*(n/4)

In [9]:
print(" Qk = ",ceil(Qk)) #Integer nearest

 Qk =  7

### Percentiles


Percentil $ P(P_p) $ is a value of the variable such that $p_%$ of a sample is below of.

#### Example: 

$P_{50}% $ leave below of median


#### Caclutae a percentil :

$ P_p = (\frac{pn}{100}) $

### Example

__The evaluation of 25 customers about custumer service of a company is (puntuation 1 to 10)__

___What is the percentile $P$85% and what does that mean?___

In [16]:
P = [7,7,3,6,8,2,5,7,3,8,1,5,6,4,4,5,6,2,9,4,2,3,7,5,7]

### Build the Frequency distribution Table

In [36]:
Xi = [i for i in range(1,11)] #Elements
FA = [1,4,3,3,3,4,4,2,1,0] #Absolut Fruency
FAC = list(accumulate(FA)) #Accumulated Absolut Frequency
FR = [i/n for i in FA] #Relative Frequency
FRC = list(accumulate(FR)) #Accumulated Relative Frequency

In [37]:
dataFrame = pd.DataFrame({
    "Xi":Xi,
    "Abs_Frec":FA,
    "Acc_Abs_Frec":FAC,
    "Rel_Frec":FR,
    "Frec_Rel_Acc":FRC 
});

In [38]:
dataFrame

   Xi  Abs_Frec  Acc_Abs_Frec  Rel_Frec  Frec_Rel_Acc
0   1         1             1      0.04          0.04
1   2         4             5      0.16          0.20
2   3         3             8      0.12          0.32
3   4         3            11      0.12          0.44
4   5         3            14      0.12          0.56
5   6         4            18      0.16          0.72
6   7         4            22      0.16          0.88
7   8         2            24      0.08          0.96
8   9         1            25      0.04          1.00
9  10         0            25      0.00          1.00

In [45]:
p = 85
n = len(P)
Pp = ceil((n*p)/100)
print("Percentile: ",Pp)

Percentile:  22

### Usaing Accumulated Absolut Frequency

#### Search in dataFrame["Frec_Abs_Acc"] for the value Pp = 22

In [75]:
dataFrame[dataFrame["Acc_Abs_Frec"]==Pp]

   Xi  Abs_Frec  Acc_Abs_Frec  Rel_Frec  Frec_Rel_Acc
6   7         4            22      0.16          0.88

__22 (85%) customers give a score of 7 or less than 7__

### Usaing Accumulated Relative Frequency

####  Search in dataFrame["Frec_Rel_Acc"] for the value that is or leaves below that p 85%.

In [83]:
def percentile_FRA(p):
    i = 0
    c = p/100
    x = dataFrame["Frec_Rel_Acc"][i]
    while x <= c:
        x = dataFrame["Frec_Rel_Acc"][i]
        i +=1
    return x

In [84]:
dataFrame[dataFrame["Frec_Rel_Acc"]<=percentile_FRA(85)]

   Xi  Abs_Frec  Acc_Abs_Frec  Rel_Frec  Frec_Rel_Acc
0   1         1             1      0.04          0.04
1   2         4             5      0.16          0.20
2   3         3             8      0.12          0.32
3   4         3            11      0.12          0.44
4   5         3            14      0.12          0.56
5   6         4            18      0.16          0.72
6   7         4            22      0.16          0.88

__85% of customers give a score of 7 or less than 7__

### Median

####  Search in dataFrame["Frec_Rel_Acc"] for the value that is or leaves below that 50%.

In [85]:
dataFrame[dataFrame["Frec_Rel_Acc"]<=percentile_FRA(50)]

   Xi  Abs_Frec  Acc_Abs_Frec  Rel_Frec  Frec_Rel_Acc
0   1         1             1      0.04          0.04
1   2         4             5      0.16          0.20
2   3         3             8      0.12          0.32
3   4         3            11      0.12          0.44
4   5         3            14      0.12          0.56

__50% of customers give a score of 5 or less than 5__

### Centered interval 

That contains 50% of the evaluation of the clients, means that they are asking for the interval between $Q1$ and $Q3$


|25%|25%|25%|25%|
----------------------------

In [100]:
dataFrame[(dataFrame["Frec_Rel_Acc"]>=(25/100)) & (dataFrame["Frec_Rel_Acc"]<=(75/100))]

   Xi  Abs_Frec  Acc_Abs_Frec  Rel_Frec  Frec_Rel_Acc
2   3         3             8      0.12          0.32
3   4         3            11      0.12          0.44
4   5         3            14      0.12          0.56
5   6         4            18      0.16          0.72
6   7         4            22      0.16          0.88

__50% of customers give a score of 3 or 7__