In [2]:
%load_ext watermark
%watermark

2019-07-18T20:35:52-05:00

CPython 3.7.1
IPython 7.2.0

compiler   : GCC 7.3.0
system     : Linux
release    : 4.15.0-20-generic
machine    : x86_64
processor  : x86_64
CPU cores  : 4
interpreter: 64bit

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [67]:
dta = pd.read_csv("../DataSets/50_Startups.csv")

In [68]:
dta.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [88]:
dta.shape

(50, 5)

#### Data Cleaning

In [76]:
dumies_state = pd.get_dummies(dta["State"], 'State')

In [92]:
dumies_state.head()

   State_California  State_Florida  State_New York
0                 0              0               1
1                 1              0               0
2                 0              1               0
3                 0              0               1
4                 0              1               0

In [104]:
dta_cleaned = pd.concat([dumies_state,dta.drop(['State'],axis=1)], axis=1)
dta_cleaned.head()

,State_California,State_Florida,State_New York,R&D Spend,Administration,Marketing Spend,Profit
0,0,0,1,165349.20,136897.80,471784.10,192261.83
1,1,0,0,162597.70,151377.59,443898.53,191792.06
2,0,1,0,153441.51,101145.55,407934.54,191050.39
3,0,0,1,144372.41,118671.85,383199.62,182901.99
4,0,1,0,142107.34,91391.77,366168.42,166187.94

In [105]:
dta_cleaned.shape

(50, 7)

#### Estableciendo variables

In [119]:
x = dta_cleaned.iloc[:,:-1].values #Variable independiente
y = dta_cleaned.iloc[:,6].values #Variable dependiente, todas las filas de la columna 6

#### Creando conjunto de testing y de entrenamiento

In [109]:
from sklearn.model_selection import train_test_split

In [120]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0)

#### Creando el modelo

In [111]:
#Ajustando el modelo de regresion lineal
from sklearn.linear_model import LinearRegression

In [112]:
regression = LinearRegression()

In [123]:
regression.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

#### Predicciones

In [130]:
y_pred = regression.predict(x_test)

##### Estimaciones

In [131]:
pd.DataFrame(y_pred)

               0
0  103015.201598
1  132582.277608
2  132447.738452
3   71976.098513
4  178537.482211
5  116161.242302
6   67851.692097
7   98791.733747
8  113969.435330
9  167921.065696

##### Real

In [126]:
pd.DataFrame(y_test)

           0
0  103282.38
1  144259.40
2  146121.95
3   77798.83
4  191050.39
5  105008.31
6   81229.06
7   97483.56
8  110352.25
9  166187.94